{
  "openapi": "3.0.0",
  "info": {
    "title": "RiteKit API",
    "description": "RiteKit API is based on REST principles.\n\n\n## Getting started\n\n1. Sign up for [RiteKit](https://ritekit.com)\n\n2. Go to [API Console](https://ritekit.com/developer/dashboard/)\n\n3. Click \"Create a token\" button to get your Client ID\n\n4. Use your Client ID as a GET query parameter `client_id=YOURCLIENTID` in all your calls\n\n5. When you reach a limit of free API Credits per month, upgrade to a paid tier.\n\n",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.ritekit.com",
      "variables": {}
    }
  ],
  "paths": {
    "/v1/stats/multiple-hashtags": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Hashtag Stats",
        "description": "Returns real-time stats for up to 100 hashtags. Stats are updated hourly.",
        "operationId": "HashtagStats",
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "description": "Hashtag(s) without # mark (comma separated)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "jobs,Chello"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:46:03 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=14jidgnheq5vd7m0ct7c2e3i10; expires=Wed, 08-Apr-2020 15:46:03 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-store, no-cache, must-revalidate"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47951"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagStats"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "hashtags": [
                    "jobs",
                    "Chello"
                  ],
                  "message": "OK",
                  "stats": [
                    {
                      "hashtag": "jobs",
                      "tag": "jobs",
                      "tweets": 642,
                      "exposure": 1984429,
                      "retweets": 62,
                      "images": 0.3504673,
                      "links": 0.3504673,
                      "mentions": 0.0903427,
                      "color": 3,
                      "mediaCount": 3490073
                    },
                    {
                      "hashtag": "chello",
                      "tag": "chello",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 37370
                    }
                  ],
                  "color": [
                    "Unused",
                    "Overused",
                    "Good",
                    "Great"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/stats/auto-hashtag": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Auto-Hashtag",
        "description": "Returns auto-hashtagged text of the post.",
        "operationId": "Auto-Hashtag",
        "parameters": [
          {
            "name": "post",
            "in": "query",
            "description": "URL encoded text up to 1000 characters into which hashtags should be added.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Is artificial intelligence the future of customer service?"
            }
          },
          {
            "name": "maxHashtags",
            "in": "query",
            "description": "Maximum number of hashtags to be added to the text.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2
            }
          },
          {
            "name": "hashtagPosition",
            "in": "query",
            "description": "Position of hashtags: end => at the end of the text, auto => anywhere in the text or at the end",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "auto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:47:09 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=hcqe46kjdueairo3s55tm04pva; expires=Wed, 08-Apr-2020 15:47:08 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-store, no-cache, must-revalidate"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47952"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Auto-Hashtag"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "post": "Is artificial intelligence the future of customer service? #science #time"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/stats/hashtag-suggestions": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Hashtag Suggestions for Text",
        "description": "Returns list of hashtag suggestions for a single-word topic or for short block of text (up to 1000 characters). ",
        "operationId": "HashtagSuggestionsforText",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "URL encoded text up to 1000 characters for which hashtags should be suggested",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "When you give Alaskans a universal basic income, they still keep working."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:47:37 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=jg47amvonk070oflhbqgdj50hu; expires=Wed, 08-Apr-2020 15:47:37 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47953"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=120"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:49:37 GMT"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagSuggestionsfortext"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "data": [
                    {
                      "hashtag": "seo",
                      "tag": "seo",
                      "tweets": 271,
                      "exposure": 1661962,
                      "retweets": 96,
                      "images": 34,
                      "links": 34,
                      "mentions": 15,
                      "color": 3
                    },
                    {
                      "hashtag": "company",
                      "tag": "company",
                      "tweets": 8,
                      "exposure": 5971,
                      "retweets": 4,
                      "images": 50,
                      "links": 50,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "google",
                      "tag": "google",
                      "tweets": 208,
                      "exposure": 278250,
                      "retweets": 50,
                      "images": 24,
                      "links": 24,
                      "mentions": 20,
                      "color": 3
                    },
                    {
                      "hashtag": "seocompany",
                      "tag": "seocompany",
                      "tweets": 8,
                      "exposure": 2100,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "seocompanychennai",
                      "tag": "seocompanychennai",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2
                    },
                    {
                      "hashtag": "chennai",
                      "tag": "chennai",
                      "tweets": 33,
                      "exposure": 778496,
                      "retweets": 34,
                      "images": 36,
                      "links": 36,
                      "mentions": 12,
                      "color": 3
                    },
                    {
                      "hashtag": "marketing",
                      "tag": "marketing",
                      "tweets": 575,
                      "exposure": 9061250,
                      "retweets": 175,
                      "images": 44,
                      "links": 44,
                      "mentions": 27,
                      "color": 3
                    },
                    {
                      "hashtag": "wordpress",
                      "tag": "wordpress",
                      "tweets": 117,
                      "exposure": 139379,
                      "retweets": 29,
                      "images": 43,
                      "links": 43,
                      "mentions": 15,
                      "color": 3
                    },
                    {
                      "hashtag": "website",
                      "tag": "website",
                      "tweets": 58,
                      "exposure": 65525,
                      "retweets": 25,
                      "images": 43,
                      "links": 43,
                      "mentions": 29,
                      "color": 3
                    },
                    {
                      "hashtag": "traffic",
                      "tag": "traffic",
                      "tweets": 29,
                      "exposure": 57671,
                      "retweets": 4,
                      "images": 28,
                      "links": 28,
                      "mentions": 28,
                      "color": 3
                    },
                    {
                      "hashtag": "digitalmarketing",
                      "tag": "digitalmarketing",
                      "tweets": 208,
                      "exposure": 966879,
                      "retweets": 80,
                      "images": 54,
                      "links": 54,
                      "mentions": 24,
                      "color": 3
                    },
                    {
                      "hashtag": "engine",
                      "tag": "engine",
                      "tweets": 4,
                      "exposure": 50,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "searchengine",
                      "tag": "searchengine",
                      "tweets": 4,
                      "exposure": 467,
                      "retweets": 0,
                      "images": 100,
                      "links": 100,
                      "mentions": 100,
                      "color": 3
                    },
                    {
                      "hashtag": "searchengineoptimization",
                      "tag": "searchengineoptimization",
                      "tweets": 8,
                      "exposure": 1412,
                      "retweets": 13,
                      "images": 100,
                      "links": 100,
                      "mentions": 50,
                      "color": 3
                    },
                    {
                      "hashtag": "design",
                      "tag": "design",
                      "tweets": 342,
                      "exposure": 564850,
                      "retweets": 108,
                      "images": 35,
                      "links": 35,
                      "mentions": 29,
                      "color": 3
                    },
                    {
                      "hashtag": "blog",
                      "tag": "blog",
                      "tweets": 225,
                      "exposure": 1948375,
                      "retweets": 42,
                      "images": 44,
                      "links": 44,
                      "mentions": 17,
                      "color": 3
                    },
                    {
                      "hashtag": "business",
                      "tag": "business",
                      "tweets": 525,
                      "exposure": 7308925,
                      "retweets": 129,
                      "images": 48,
                      "links": 48,
                      "mentions": 21,
                      "color": 3
                    },
                    {
                      "hashtag": "optimization",
                      "tag": "optimization",
                      "tweets": 4,
                      "exposure": 3883,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "keyword",
                      "tag": "keyword",
                      "tweets": 4,
                      "exposure": 7958,
                      "retweets": 13,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "post",
                      "tag": "post",
                      "tweets": 12,
                      "exposure": 1258,
                      "retweets": 17,
                      "images": 67,
                      "links": 67,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "guide",
                      "tag": "guide",
                      "tweets": 25,
                      "exposure": 207662,
                      "retweets": 0,
                      "images": 48,
                      "links": 48,
                      "mentions": 16,
                      "color": 3
                    },
                    {
                      "hashtag": "websitetraffic",
                      "tag": "websitetraffic",
                      "tweets": 4,
                      "exposure": 385646,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2
                    },
                    {
                      "hashtag": "tips",
                      "tag": "tips",
                      "tweets": 79,
                      "exposure": 606029,
                      "retweets": 46,
                      "images": 42,
                      "links": 42,
                      "mentions": 22,
                      "color": 3
                    },
                    {
                      "hashtag": "ads",
                      "tag": "ads",
                      "tweets": 8,
                      "exposure": 6558,
                      "retweets": 17,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 3
                    },
                    {
                      "hashtag": "blogger",
                      "tag": "blogger",
                      "tweets": 96,
                      "exposure": 265738,
                      "retweets": 25,
                      "images": 34,
                      "links": 34,
                      "mentions": 22,
                      "color": 3
                    },
                    {
                      "hashtag": "webdesign",
                      "tag": "webdesign",
                      "tweets": 58,
                      "exposure": 71992,
                      "retweets": 38,
                      "images": 29,
                      "links": 29,
                      "mentions": 7,
                      "color": 3
                    },
                    {
                      "hashtag": "socialmedia",
                      "tag": "socialmedia",
                      "tweets": 304,
                      "exposure": 4699208,
                      "retweets": 134,
                      "images": 23,
                      "links": 23,
                      "mentions": 27,
                      "color": 3
                    },
                    {
                      "hashtag": "facebook",
                      "tag": "facebook",
                      "tweets": 162,
                      "exposure": 3167867,
                      "retweets": 42,
                      "images": 41,
                      "links": 41,
                      "mentions": 23,
                      "color": 3
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/stats/hashtag-suggestions-image": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Hashtag Suggestions for Image",
        "description": "Returns list of hashtag suggestions for an image. Takes into account both semantic relevancy as well as real-time hashtag engagement.",
        "operationId": "HashtagSuggestionsforImage",
        "parameters": [
          {
            "name": "image",
            "in": "query",
            "description": "URL of an image (URL encoded)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "https://jpeg.org/images/jpeg-home.jpg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:47:56 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=tspe34bcg4pmqnq8048m7lq7en; expires=Wed, 08-Apr-2020 15:47:52 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47954"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=120"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:49:56 GMT"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagSuggestionsforimage"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "data": [
                    {
                      "hashtag": "water",
                      "tag": "water",
                      "tweets": 75,
                      "exposure": 177483,
                      "retweets": 63,
                      "images": 33.33333,
                      "links": 33.33333,
                      "mentions": 10.66667,
                      "color": 3,
                      "mediaCount": 71793843
                    },
                    {
                      "hashtag": "sky",
                      "tag": "sky",
                      "tweets": 88,
                      "exposure": 28825,
                      "retweets": 8,
                      "images": 65.90909,
                      "links": 65.90909,
                      "mentions": 19.31818,
                      "color": 3,
                      "mediaCount": 179083017
                    },
                    {
                      "hashtag": "sea",
                      "tag": "sea",
                      "tweets": 33,
                      "exposure": 7767,
                      "retweets": 13,
                      "images": 51.51515,
                      "links": 51.51515,
                      "mentions": 24.24242,
                      "color": 3,
                      "mediaCount": 106527404
                    },
                    {
                      "hashtag": "sound",
                      "tag": "sound",
                      "tweets": 4,
                      "exposure": 238,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 7263338
                    },
                    {
                      "hashtag": "calm",
                      "tag": "calm",
                      "tweets": 75,
                      "exposure": 128467,
                      "retweets": 87,
                      "images": 33.33333,
                      "links": 33.33333,
                      "mentions": 28,
                      "color": 3,
                      "mediaCount": 11225273
                    },
                    {
                      "hashtag": "ocean",
                      "tag": "ocean",
                      "tweets": 29,
                      "exposure": 10662,
                      "retweets": 46,
                      "images": 27.58621,
                      "links": 27.58621,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 62861755
                    },
                    {
                      "hashtag": "piers",
                      "tag": "piers",
                      "tweets": 4,
                      "exposure": 104,
                      "retweets": 13,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 76616
                    },
                    {
                      "hashtag": "explore",
                      "tag": "explore",
                      "tweets": 83,
                      "exposure": 55150,
                      "retweets": 21,
                      "images": 20.48193,
                      "links": 20.48193,
                      "mentions": 14.45783,
                      "color": 3,
                      "mediaCount": 56436472
                    },
                    {
                      "hashtag": "mastering",
                      "tag": "mastering",
                      "tweets": 4,
                      "exposure": 8,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 1094430
                    },
                    {
                      "hashtag": "calmyourmind",
                      "tag": "calmyourmind",
                      "tweets": 4,
                      "exposure": 8,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 58497
                    },
                    {
                      "hashtag": "oceanlife",
                      "tag": "oceanlife",
                      "tweets": 4,
                      "exposure": 17,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 1
                    },
                    {
                      "hashtag": "harbor",
                      "tag": "harbor",
                      "tweets": 4,
                      "exposure": 283,
                      "retweets": 0,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 3,
                      "mediaCount": 1506829
                    },
                    {
                      "hashtag": "earth",
                      "tag": "earth",
                      "tweets": 46,
                      "exposure": 19858,
                      "retweets": 21,
                      "images": 63.04348,
                      "links": 63.04348,
                      "mentions": 26.08696,
                      "color": 3,
                      "mediaCount": 21979752
                    },
                    {
                      "hashtag": "pier",
                      "tag": "pier",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 3503725
                    },
                    {
                      "hashtag": "dock",
                      "tag": "dock",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1037154
                    },
                    {
                      "hashtag": "horizon",
                      "tag": "horizon",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 10972776
                    },
                    {
                      "hashtag": "boardwalk",
                      "tag": "boardwalk",
                      "tweets": 4,
                      "exposure": 3425,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1613160
                    },
                    {
                      "hashtag": "waterview",
                      "tag": "waterview",
                      "tweets": 4,
                      "exposure": 108,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1
                    },
                    {
                      "hashtag": "setsail",
                      "tag": "setsail",
                      "tweets": 4,
                      "exposure": 1100,
                      "retweets": 0,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 80528
                    },
                    {
                      "hashtag": "oceaneyes",
                      "tag": "oceaneyes",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1
                    },
                    {
                      "hashtag": "audiogear",
                      "tag": "audiogear",
                      "tweets": 4,
                      "exposure": 133,
                      "retweets": 0,
                      "images": 100,
                      "links": 100,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 62189
                    },
                    {
                      "hashtag": "boardwalks",
                      "tag": "boardwalks",
                      "tweets": 4,
                      "exposure": 625,
                      "retweets": 0,
                      "images": 100,
                      "links": 100,
                      "mentions": 100,
                      "color": 2,
                      "mediaCount": 17612
                    },
                    {
                      "hashtag": "oceanlove",
                      "tag": "oceanlove",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1
                    },
                    {
                      "hashtag": "waterscape",
                      "tag": "waterscape",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 278350
                    },
                    {
                      "hashtag": "docks",
                      "tag": "docks",
                      "tweets": 0,
                      "exposure": 0,
                      "retweets": 4,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 487915
                    },
                    {
                      "hashtag": "sky_love",
                      "tag": "sky_love",
                      "tweets": 4,
                      "exposure": 104,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 342936
                    },
                    {
                      "hashtag": "oceanawareness",
                      "tag": "oceanawareness",
                      "tweets": 4,
                      "exposure": 288,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 17213
                    },
                    {
                      "hashtag": "greatoutdoors",
                      "tag": "greatoutdoors",
                      "tweets": 4,
                      "exposure": 14046,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 2167405
                    },
                    {
                      "hashtag": "dailycalm",
                      "tag": "dailycalm",
                      "tweets": 4,
                      "exposure": 1988,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 1
                    },
                    {
                      "hashtag": "bluewater",
                      "tag": "bluewater",
                      "tweets": 4,
                      "exposure": 1671,
                      "retweets": 0,
                      "images": 0,
                      "links": 0,
                      "mentions": 0,
                      "color": 2,
                      "mediaCount": 2630271
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/stats/history/{hashtag}": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Hashtag History",
        "description": "Returns historical stats for a given hashtag from the last 30 days. Add hashtag without hash mark to the URL.",
        "operationId": "HashtagHistory",
        "parameters": [
          {
            "name": "hashtag",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:48:19 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=7tm8ftqjdniidnc6l526cclteb; expires=Wed, 08-Apr-2020 15:48:18 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47960"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=600"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:58:18 GMT"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/HashtagHistory"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "hashtag": "job",
                  "data": [
                    {
                      "tag": "job",
                      "date": "2020-02-24",
                      "tweets": 9400,
                      "retweets": 800,
                      "links": 0.97,
                      "images": 0.17,
                      "mentions": 0.1,
                      "color": 3,
                      "exposure": 20375700
                    },
                    {
                      "tag": "job",
                      "date": "2020-02-25",
                      "tweets": 7800,
                      "retweets": 1300,
                      "links": 0.94,
                      "images": 0.26,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 10023400
                    },
                    {
                      "tag": "job",
                      "date": "2020-02-26",
                      "tweets": 8600,
                      "retweets": 700,
                      "links": 0.97,
                      "images": 0.21,
                      "mentions": 0.09,
                      "color": 3,
                      "exposure": 5527100
                    },
                    {
                      "tag": "job",
                      "date": "2020-02-27",
                      "tweets": 8600,
                      "retweets": 1300,
                      "links": 0.94,
                      "images": 0.19,
                      "mentions": 0.03,
                      "color": 3,
                      "exposure": 7915000
                    },
                    {
                      "tag": "job",
                      "date": "2020-02-28",
                      "tweets": 9200,
                      "retweets": 1000,
                      "links": 0.95,
                      "images": 0.28,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 10458200
                    },
                    {
                      "tag": "job",
                      "date": "2020-02-29",
                      "tweets": 4300,
                      "retweets": 700,
                      "links": 0.93,
                      "images": 0.4,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 1651200
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-01",
                      "tweets": 3800,
                      "retweets": 200,
                      "links": 0.89,
                      "images": 0.34,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 4341400
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-02",
                      "tweets": 10000,
                      "retweets": 1100,
                      "links": 0.92,
                      "images": 0.29,
                      "mentions": 0.07,
                      "color": 3,
                      "exposure": 12232900
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-03",
                      "tweets": 9200,
                      "retweets": 1000,
                      "links": 0.92,
                      "images": 0.22,
                      "mentions": 0.12,
                      "color": 3,
                      "exposure": 12132700
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-04",
                      "tweets": 7700,
                      "retweets": 300,
                      "links": 0.94,
                      "images": 0.23,
                      "mentions": 0.01,
                      "color": 3,
                      "exposure": 13146400
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-05",
                      "tweets": 8600,
                      "retweets": 500,
                      "links": 0.99,
                      "images": 0.28,
                      "mentions": 0.03,
                      "color": 3,
                      "exposure": 5371600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-06",
                      "tweets": 8300,
                      "retweets": 1200,
                      "links": 0.94,
                      "images": 0.14,
                      "mentions": 0.08,
                      "color": 3,
                      "exposure": 6603500
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-07",
                      "tweets": 4000,
                      "retweets": 700,
                      "links": 0.93,
                      "images": 0.45,
                      "mentions": 0,
                      "color": 3,
                      "exposure": 3700900
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-08",
                      "tweets": 4300,
                      "retweets": 500,
                      "links": 0.93,
                      "images": 0.49,
                      "mentions": 0.09,
                      "color": 3,
                      "exposure": 55503600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-09",
                      "tweets": 9300,
                      "retweets": 700,
                      "links": 0.95,
                      "images": 0.25,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 8224600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-10",
                      "tweets": 8900,
                      "retweets": 1600,
                      "links": 0.89,
                      "images": 0.29,
                      "mentions": 0.04,
                      "color": 3,
                      "exposure": 7524700
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-11",
                      "tweets": 8100,
                      "retweets": 2000,
                      "links": 0.98,
                      "images": 0.27,
                      "mentions": 0.02,
                      "color": 3,
                      "exposure": 10144300
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-12",
                      "tweets": 7700,
                      "retweets": 800,
                      "links": 0.94,
                      "images": 0.22,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 7441300
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-13",
                      "tweets": 9300,
                      "retweets": 800,
                      "links": 0.89,
                      "images": 0.33,
                      "mentions": 0.04,
                      "color": 3,
                      "exposure": 27901400
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-14",
                      "tweets": 4400,
                      "retweets": 100,
                      "links": 0.93,
                      "images": 0.23,
                      "mentions": 0.05,
                      "color": 3,
                      "exposure": 6911400
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-15",
                      "tweets": 3200,
                      "retweets": 400,
                      "links": 0.91,
                      "images": 0.31,
                      "mentions": 0,
                      "color": 3,
                      "exposure": 2534400
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-16",
                      "tweets": 7900,
                      "retweets": 1100,
                      "links": 0.96,
                      "images": 0.29,
                      "mentions": 0.04,
                      "color": 3,
                      "exposure": 3994600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-17",
                      "tweets": 6800,
                      "retweets": 500,
                      "links": 0.93,
                      "images": 0.25,
                      "mentions": 0.09,
                      "color": 3,
                      "exposure": 10451100
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-18",
                      "tweets": 10000,
                      "retweets": 500,
                      "links": 0.93,
                      "images": 0.32,
                      "mentions": 0.06,
                      "color": 3,
                      "exposure": 15739100
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-19",
                      "tweets": 7100,
                      "retweets": 500,
                      "links": 0.92,
                      "images": 0.28,
                      "mentions": 0.08,
                      "color": 3,
                      "exposure": 16218500
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-20",
                      "tweets": 6300,
                      "retweets": 300,
                      "links": 0.98,
                      "images": 0.22,
                      "mentions": 0.06,
                      "color": 3,
                      "exposure": 5715500
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-21",
                      "tweets": 3400,
                      "retweets": 300,
                      "links": 0.82,
                      "images": 0.41,
                      "mentions": 0,
                      "color": 3,
                      "exposure": 11159900
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-22",
                      "tweets": 3200,
                      "retweets": 700,
                      "links": 0.66,
                      "images": 0.44,
                      "mentions": 0.09,
                      "color": 3,
                      "exposure": 2208600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-23",
                      "tweets": 7500,
                      "retweets": 900,
                      "links": 0.92,
                      "images": 0.24,
                      "mentions": 0.04,
                      "color": 3,
                      "exposure": 8319600
                    },
                    {
                      "tag": "job",
                      "date": "2020-03-24",
                      "tweets": 7300,
                      "retweets": 800,
                      "links": 0.95,
                      "images": 0.19,
                      "mentions": 0.1,
                      "color": 3,
                      "exposure": 5752700
                    }
                  ],
                  "color": [
                    "Unused",
                    "Overused",
                    "Good",
                    "Great"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/search/trending": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Trending Hashtags",
        "description": "Returns list of hashtags currently trending on Twitter.",
        "operationId": "TrendingHashtags",
        "parameters": [
          {
            "name": "green",
            "in": "query",
            "description": "1 = restrict results only to green hashtags (hot now).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "latin",
            "in": "query",
            "description": "1 = restrict results only to hashtags with latin characters .",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:48:34 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=5mq6tr41sfmrdcb41ldbujpmfi; expires=Wed, 08-Apr-2020 15:48:33 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47961"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=120"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:50:34 GMT"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/TrendingHashtags"
                },
                "example": {
                  "result": true,
                  "message": "OK",
                  "code": 200,
                  "tags": [
                    {
                      "tag": "pahamipidanakerumunan",
                      "tweets": 6483,
                      "retweets": 405,
                      "exposure": 491642,
                      "links": 0.290452,
                      "photos": 0.290452,
                      "mentions": 0.1806263,
                      "color": 3
                    },
                    {
                      "tag": "covid2019",
                      "tweets": 5875,
                      "retweets": 7479,
                      "exposure": 109595117,
                      "links": 0.2702979,
                      "photos": 0.2702979,
                      "mentions": 0.2772766,
                      "color": 3
                    },
                    {
                      "tag": "iheartawards",
                      "tweets": 5608,
                      "retweets": 10650,
                      "exposure": 5876921,
                      "links": 0.1144793,
                      "photos": 0.1144793,
                      "mentions": 0.9666548,
                      "color": 3
                    },
                    {
                      "tag": "bestfanarmy",
                      "tweets": 5358,
                      "retweets": 10584,
                      "exposure": 5196583,
                      "links": 0.1080627,
                      "photos": 0.1080627,
                      "mentions": 0.972751,
                      "color": 3
                    },
                    {
                      "tag": "btsarmy",
                      "tweets": 5312,
                      "retweets": 10655,
                      "exposure": 5089158,
                      "links": 0.1231175,
                      "photos": 0.1231175,
                      "mentions": 0.971762,
                      "color": 3
                    },
                    {
                      "tag": "newprofilepic",
                      "tweets": 5142,
                      "retweets": 1646,
                      "exposure": 17915600,
                      "links": 0.9222093,
                      "photos": 0.9222093,
                      "mentions": 0.0138079,
                      "color": 3
                    },
                    {
                      "tag": "forabolsonaro",
                      "tweets": 5042,
                      "retweets": 6858,
                      "exposure": 10083479,
                      "links": 0.1223721,
                      "photos": 0.1223721,
                      "mentions": 0.190004,
                      "color": 3
                    },
                    {
                      "tag": "premiummusic2020",
                      "tweets": 4983,
                      "retweets": 6600,
                      "exposure": 3798179,
                      "links": 0.0660245,
                      "photos": 0.0660245,
                      "mentions": 0.0108368,
                      "color": 3
                    },
                    {
                      "tag": "stayhome",
                      "tweets": 4858,
                      "retweets": 4054,
                      "exposure": 187522300,
                      "links": 0.3318238,
                      "photos": 0.3318238,
                      "mentions": 0.2865377,
                      "color": 3
                    },
                    {
                      "tag": "nowplaying",
                      "tweets": 4275,
                      "retweets": 400,
                      "exposure": 21548946,
                      "links": 0.2554386,
                      "photos": 0.2554386,
                      "mentions": 0.1773099,
                      "color": 3
                    },
                    {
                      "tag": "ps4share",
                      "tweets": 3458,
                      "retweets": 775,
                      "exposure": 1068938,
                      "links": 0.5688259,
                      "photos": 0.5688259,
                      "mentions": 0.0205321,
                      "color": 3
                    },
                    {
                      "tag": "hantavirus",
                      "tweets": 3362,
                      "retweets": 8796,
                      "exposure": 44824212,
                      "links": 0.2305175,
                      "photos": 0.2305175,
                      "mentions": 0.1522903,
                      "color": 3
                    },
                    {
                      "tag": "bolsonarotemrazao",
                      "tweets": 3329,
                      "retweets": 2900,
                      "exposure": 4130633,
                      "links": 0.0826074,
                      "photos": 0.0826074,
                      "mentions": 0.5232803,
                      "color": 3
                    },
                    {
                      "tag": "2020khilafahberdiri",
                      "tweets": 3125,
                      "retweets": 187,
                      "exposure": 365267,
                      "links": 0.52672,
                      "photos": 0.52672,
                      "mentions": 0.34656,
                      "color": 3
                    },
                    {
                      "tag": "2020khilafahbangkit",
                      "tweets": 3092,
                      "retweets": 200,
                      "exposure": 364233,
                      "links": 0.5485123,
                      "photos": 0.5485123,
                      "mentions": 0.3327943,
                      "color": 3
                    },
                    {
                      "tag": "21dayslockdown",
                      "tweets": 2983,
                      "retweets": 3513,
                      "exposure": 49646608,
                      "links": 0.3087496,
                      "photos": 0.3087496,
                      "mentions": 0.3017097,
                      "color": 3
                    },
                    {
                      "tag": "stayathome",
                      "tweets": 2867,
                      "retweets": 3733,
                      "exposure": 21852358,
                      "links": 0.3474015,
                      "photos": 0.3474015,
                      "mentions": 0.2574119,
                      "color": 3
                    },
                    {
                      "tag": "corona",
                      "tweets": 2842,
                      "retweets": 3970,
                      "exposure": 28688862,
                      "links": 0.2902885,
                      "photos": 0.2902885,
                      "mentions": 0.2596763,
                      "color": 3
                    },
                    {
                      "tag": "99tahunumatislamtanpakhilafah",
                      "tweets": 2842,
                      "retweets": 96,
                      "exposure": 306562,
                      "links": 0.5453906,
                      "photos": 0.5453906,
                      "mentions": 0.3754398,
                      "color": 3
                    },
                    {
                      "tag": "covid19out",
                      "tweets": 2738,
                      "retweets": 2274,
                      "exposure": 22260721,
                      "links": 0.293645,
                      "photos": 0.293645,
                      "mentions": 0.1687363,
                      "color": 3
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/instagram/hashtags-cleaner": {
      "get": {
        "tags": [
          "Hashtags"
        ],
        "summary": "Banned Instagram Hashtags",
        "description": "Detects and removes hashtags banned on Instagram from a list of hashtags.",
        "operationId": "BannedInstagramHashtags",
        "parameters": [
          {
            "name": "post",
            "in": "query",
            "description": "URL encoded text up to 1000 characters from which hashtags banned on Instagram should be removed.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "#instaphotography #instabeauty #instagirls #instanature #instagirl #photography #beauty #girls #nature #girl #sky #water #lady #ladies #woman #women #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies #girlsofinstagram"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:49:37 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=3o40mb4dacnmvunlgvmfg54vdt; expires=Wed, 08-Apr-2020 15:49:37 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-store, no-cache, must-revalidate"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47963"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/BannedInstagramHashtags"
                },
                "example": {
                  "result": true,
                  "message": "OK",
                  "post": "#instaphotography #instabeauty #instagirls #instanature #instagirl #photography #beauty #girls #nature #girl #sky #water #lady #ladies #woman #women #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies",
                  "bannedHashtags": [
                    "#girlsofinstagram"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/emoji/suggestions": {
      "get": {
        "tags": [
          "Emojis"
        ],
        "summary": "Emoji Suggestions",
        "description": "Returns list of emoji suggestions for a short block of text (up to 1000 characters).",
        "operationId": "EmojiSuggestions",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "URL encoded text up to 1000 characters for which emojis should be suggested.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Why robots may soon steal all manufacturing jobs – but it’s not all bad news"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:50:23 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=qopk56lb39b9kfjba3o0r1mops; expires=Wed, 08-Apr-2020 15:50:22 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-store, no-cache, must-revalidate"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47971"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/EmojiSuggestions"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "emojis": [
                    "🤖",
                    "🗞",
                    "❓"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/emoji/auto-emojify": {
      "get": {
        "tags": [
          "Emojis"
        ],
        "summary": "Auto-Emojify",
        "description": "Returns text of the post with emoji added",
        "operationId": "Auto-Emojify",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "URL encoded text up to 1000 characters into which emojis should be added.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Why robots may soon steal all manufacturing jobs – but it’s not all bad news"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nginx/1.12.1"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 25 Mar 2020 15:50:34 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Nette Framework"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "X-Requested-With"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "RITEKIT=88q2l28pujhq644un96hvhrg8b; expires=Wed, 08-Apr-2020 15:50:34 GMT; Max-Age=1209600; path=/; HttpOnly"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-store, no-cache, must-revalidate"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-Rate-Limit-Limit": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "250000"
                  }
                }
              },
              "X-Rate-Limit-Used": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "47972"
                  }
                }
              },
              "X-Rate-Limit-Reset": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2020-04-01 00:00:00"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=31536000;"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Auto-Emojify"
                },
                "example": {
                  "result": true,
                  "code": 200,
                  "message": "OK",
                  "text": "Why robots may soon steal all manufacturing jobs – but it’s not all bad news 🤖 🗞 ❓"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/images/quote": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Text to Image / GIF",
        "description": "Returns URL of an image created from text according to given style parameters",
        "operationId": "TexttoImage/GIF",
        "parameters": [
          {
            "name": "quote",
            "in": "query",
            "description": "URL encoded text of a quote",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "If you love life, don't waste time, for time is what life is made up of"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "URL encoded text to be placed as author attribution",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Bruce Lee"
            }
          },
          {
            "name": "fontSize",
            "in": "query",
            "description": "Font size of the quote (author font size is calculated automatically)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 60
            }
          },
          {
            "name": "quoteFont",
            "in": "query",
            "description": "Font-family used for the quote (AlegreyaSC/ABeeZee/AmaticSC/Bangers/BungeeShade/ChelseaMarket/Courgette/DancingScript/Lato Black/LifeSavers/Lora/Montserrat/PassionOne/PlayfairDisplay/SourceSansPro)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Lora"
[...]
